<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenitech.cashdaily">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewCreditoActivity.NewCreditActivity"></activity>
        <activity android:name=".SingInActivity.SingInActivity" />
        <activity android:name=".LoginActivity.LoginActivity" />
        <activity android:name=".DetallesGastoActivity.GastoDetailActivity" />
        <activity android:name=".NewClienteActivity.NewClientActivity" />
        <activity android:name=".DetallesClienteActivity.ClienteDetailActivity" />
        <activity android:name=".NewGastoActivity.NewGastoActivity" />
        <activity android:name=".MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>